include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include ttc.py
include ttc
recursive-include archive *.py *.md *.sh *.bat
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.log
